{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "askme/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "askme/css/bootstrap-grid.min.css" %}">
    <link rel="stylesheet" href="{% static "askme/css/bootstrap-reboot.min.css" %}">
    <title>Hasker</title>
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'askme:index' %}">Hasker</a>
            <form action="{% url 'askme:search' %}" method="get" class="form-inline" accept-charset="utf-8">
                <div class="input-group">
                    <button class="input-group-addon" type="submit">Search</button>
                    <input class="form-control"
                           type="text"
                           aria-label="Search"
                           name="q"
                           placeholder="Text or tag name..."
                           value="{% if search_query %} {{ search_query }} {% endif %}">
                </div>
            </form>
            {% if user.is_authenticated %}
                <div>
                    <img src="{{ user.photo_url }}" alt="" height="50px">
                    <a href="{% url 'hasker_user:settings' %}">{{ user.username }}</a>
                    <a href="{% url 'hasker_user:logout' %}">
                        <img src="{% static 'askme/img/exit.png' %}" alt="">
                    </a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'hasker_user:login' %}">Log In</a>
                    <a class="btn btn-secondary" href="{% url 'hasker_user:signup' %}" role="button">Sign Up</a>
                </div>
            {% endif %}
        </nav>

        <hr>

        <div class="row">
            <div class="col-sm-10">
                {% block content %}{% endblock content %}
            </div>
            <div class="col">
                {% if user.is_authenticated and not hide_ask_btn %}
                    <a class="btn btn-secondary btn-block" role="button" href="{% url 'askme:ask' %}">Ask</a>
                {% endif %}
                <br>
                <h2>Trending</h2>
                {% for top in top_questions %}
                    <p>
                        <a href="{% url 'askme:question' top.slug %}" class="badge badge-primary">{{ top.votes }}</a>
                        {{ top.title }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static "askme/js/jquery-3.2.1.slim.min.js" %}"></script>
    <script src="{% static "askme/js/popper.min.js" %}"></script>
    <script src="{% static "askme/js/bootstrap.min.js" %}"></script>
    <script src="{% static "askme/js/bootstrap.bundle.min.js" %}"></script>

    {% block script %}{% endblock script %}
</body>
</html>